.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5); 
}

a:hover {
  text-decoration: none;
  outline: none;
  color: rgb(203, 82, 228);
}

.cardtitle {
    font-weight: 500 !important;
}

.card {
    border: none !important;
}

.footer {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: #000000;
    color: white;
    text-align: center;
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.14), 0 -3px 1px -2px rgba(0,0,0,0.12), 0 -1px 5px 0 rgba(0,0,0,0.2);
}

.footer p {
    margin-bottom: 0;
}

#learnMoreBtn:hover { 
transform: translate(0px, 2px);
letter-spacing: 0.1em; 
border-radius: 40px;
/* background: var(--gradient-color linear-gradient( 90deg, rgb(191 88 255 / 80%), rgb(112 27 144 / 80%))); */

}

#learnMoreBtn {
    /* background: var(--gradient-color); */
    background-color: rgb(168, 94, 218) !important;
    margin-left: 80%;
    align-items: center;

}
#learnMoreBtn:focus {
    outline: none !important;
    box-shadow: none !important;
}

