.contact-form {
  width: 60%;
  background-color: rgb(161, 118, 87);
  border-radius: 3rem;
  border-width: 1rem;
  margin-left: 20%;
  margin-top: 50% !important;
}

.sociallinks {
  margin-left: 42%;
}

.sociallinks {
  text-align: center;
  margin: auto;
}