h2 {
    color:  rgb(192, 46, 143);
    font-weight: bold;
}


.logoImg {
    padding-top: 10%;
    /* margin-left: 27%; */
}

  img {
    left: 0;
    top: 0;
    height: auto;
    max-width: 800px;
    border-radius: 1rem;
    /* margin-left: 30px; */
    align-items: center !important;
  }

.discription {
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 20px;
    padding: 14px;
    margin: auto;
    padding: 3rem;
}

.fab{
    color:  rgb(192, 46, 143);
    font-size: xx-large;
    margin-left: 2rem;
    align-items: center;
}

.mission {
    color:  rgb(192, 46, 143);
    font-size: 16px;
}

.listItem {
    color:  rgb(192, 46, 143);
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .discription
    {
        width: 100%;
        margin-top: 30px;
        position:flex;
        
}
  }

  
  @media only screen and (max-width: 768px) {
    .logoImg
    {
        width: 100%;
        height: auto;
        max-width: 300px;
        position: relative; 
        padding-top: 25%;
        margin: auto !important;

}
  }